/* .App {
  text-align: center;
  width: 1028px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
} */
* {
  box-sizing: border-box;
  margin: 100;
  padding: 100;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	/* min-width: auto;
	max-width: 550px; */
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
  
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: coral;
  color:white;
}

input{
  width: 300px;
  border:inset;
  border-radius: 8px;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
button{
  width: 300px;
  border:outset;
  border-radius: 8px;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* color: bisque; */
}

label{
  margin-left: 10px;
  margin-right: 10px;
}

h1,h2,h3,h4,p{
  text-align: center;
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
}
.center-block {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;

}
.link{
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;

}
.link:hover{
color:black
}

.dashboard{
  width: 300px;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.income{
    width: 500px;
    position:relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
.output{
  margin-left: 200px;
  margin-right: 10px;
}

.expenses-list{
  list-style: none;
  padding:0;
}

.expenses-list__fallback{
  color: white;
  text-align: center;
}

.add_transaction,.new_transaction{
  width: 300px;
  /* border:inset; */
  border-radius: 8px;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.list_transaction{
  padding: 16px 16px 16px 60px;
	border:none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}
/* .new_transaction{
  position: relative;
	margin: 0;
	width: 80%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 2px;
	border: none;
  box-sizing: border-box;
} */