.App {
  text-align: center;
  /* width: 1028px;
  justify-content: center;
  margin-left: 200px; */
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: coral;
  color:white;
}
input{
  width: 100px;
  
 
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;

}
.link{
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;

}